/* Configuracao padrao */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background-color: #eee;
}